//@font-default-family: Quicksand, sans-serif;
//@font-monospace-family: 'Roboto', 'Lucida Console', 'Courier', 'Courier New', monospace;

//Blue palette
@palette-blue-3: #234d74;

.cell-no-padding {
  padding: 0 !important;
}

.text-editor-field {
  margin-left: 10px;
}

.tox-tinymce {
  border-right: 5px !important;
}

.table-html-cell-heading {
  font-weight: bold;
  color: #014786;
  font-size: 13px;
}

.table-html-cell-subheading {
  font-size: 10px;
  color: grey;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.cell-border-red-left {
  border-left: 3px solid #dc2938 !important;
}

.TicketForm_preview_reply .field {
  border: 1px dashed #dadada;
  padding: 10px;
}

.red-button button{
  background-color: #c42a2a;
  border-color: #a61414;
  color: #fff;
}

.red-button:hover button{
  background-color: #9f2929;
  border-color: #a61414;
  color: #fff;
}

.green-button{
  background-color: #22bd7c ;
  border-color: #23b377;
  color: #fff;
}

.green-button:hover {
  background-color: #1ea66d;
  border-color: #23b377;
  color: #fff;
}

.table-cell-padding-10 {
  padding:10px;
}

.TicketFormFollowingIconActive > .icon {
  color: #d99458;
}
