//@font-default-family: Quicksand, sans-serif;
//@font-monospace-family: 'Roboto', 'Lucida Console', 'Courier', 'Courier New', monospace;

//Blue palette
@palette-blue-3: #234d74;

//Mandatory indicator
.mandatory-indicator {
    color:#e55252;
    font-weight:700;
}