### Application
scout.application.name=Anippe CRM Server
scout.application.version=development

### Environment
scout.devMode=true

### Service tunnel
scout.auth.publicKey=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEtIHJ21mBC1lWGW6KTmF1Yu+iLiEAJd59XbYWX3Ve5XShpO+smvc/XyzYEjU4kIiwvEpgknTehGjJNXGzosRH7g==

### DB Connection
db.url=jdbc:postgresql://localhost:5432/anippe
db.username=postgres
db.password=postgres

### Portal
portal.simulate=false

### Super Admin
admin.username=admin
admin.password=admin

### Encryption Key
app.key=v0u9fg08bb89b8gb8zx9g809df8v9sv8fd90b8g098zsr98rvr098br

app.baseURL=http://localhost:8082
app.fileRootDirectory=/Users/lukacavic/Development/Anippe
app.fileRootDirectoryOrganisations=/Users/lukacavic/Development/Anippe/Organisations
